#blog-card {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 300px;

    margin-bottom: 1.5rem;

    /* padding: 1rem 0; */

    /* box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem rgba(142, 142, 142, 0.045),
        -0.1rem -0.1rem 0.1rem 0.1rem rgba(142, 142, 142, 0.045); */
}

#blog-card .view {
    margin: 1rem 0 0.2rem;
    font-size: 0.8rem;

    display: flex;
    align-items: flex-start;
}

#blog-card .image {
    width: 100%;
    height: 65%;   
}

#blog-card .image img {
    width: 100%;
    height: 100%;

    object-fit: cover;
    object-position: center;
}

#blog-card img {
    width: 100%;
    aspect-ratio: initial;
}

#blog-card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

#blog-card h3
{
    font-size: 0.8rem;
    font-weight: 400 !important;
}

#blog-card .card-title {
    font-weight: 700 !important;
}

#blog-card .card-description {
    font-weight: 500 !important;
}

#blog-card .card-price {
    font-size: 1.3rem;
    font-weight: 600;

    color: var(--theme-dark);
}

#blog-card .add-to-cart {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;

    font-size: 0.9rem;

    border: 1px solid var(--theme-dark);
    width: fit-content;

    padding: 0.3rem 1rem;

    border-radius: 0.3rem;
    color: var(--theme-dark);
}

#blog-card .add-to-cart img {
    width: 1rem;
    aspect-ratio: 1;
}