#product-card-carousel {
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: space-between;

    width: 100%;
    height: 45vh;

    position: relative;
}

#product-card-carousel .image {
    width: 100%;
    flex: 1; 
}

#product-card-carousel .image img {
    width: 100%;
    height: 100%;

    object-fit: fill;
    object-position: bottom;
}
